# Data Science by using pandas liabrary

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan],[19, 439, 6, 452, 226,232]],
                  index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                  columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'],['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df.style

In [3]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Beijing"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")
    return styler

weather_df

               Tokyo   Beijing
2021-01-01  1.294589  4.895104
2021-01-02  2.788282  3.738957
2021-01-03  3.579142  2.260500
2021-01-04  1.138221  2.717750
2021-01-05  2.597716  4.186460
2021-01-06  4.038181  4.249678
2021-01-07  4.782941  1.605568
2021-01-08  1.112428  1.449346
2021-01-09  1.020060  4.579985
2021-01-10  4.661374  4.476279

In [4]:
weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty)