# IRIS EmbeddedPython

In [1]:
import iris

               Tokyo   Beijing
2021-01-01  1.294589  4.895104
2021-01-02  2.788282  3.738957
2021-01-03  3.579142  2.260500
2021-01-04  1.138221  2.717750
2021-01-05  2.597716  4.186460
2021-01-06  4.038181  4.249678
2021-01-07  4.782941  1.605568
2021-01-08  1.112428  1.449346
2021-01-09  1.020060  4.579985
2021-01-10  4.661374  4.476279