## IRIS Data Visualization by using python pandas liabrary

In [1]:
import pandas as pd
pd.options.display.max_rows = 9

import iris
statement = iris.sql.exec('SELECT * FROM Titanic_Table.Passenger')
df = statement.dataframe()
print(df.info()) 
df
df.duplicated()
df.corr()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        0 non-null      object
 1   survived  0 non-null      object
 2   pclass    0 non-null      object
 3   name      0 non-null      object
 4   sex       0 non-null      object
 5   age       0 non-null      object
 6   sibsp     0 non-null      object
 7   parch     0 non-null      object
 8   ticket    0 non-null      object
 9   fare      0 non-null      object
 10  cabin     0 non-null      object
 11  embarked  0 non-null      object
dtypes: object(12)
memory usage: 0.0+ bytes
None

Empty DataFrame
Columns: []
Index: []